@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #ebe9e9;
}

header {
    width: 100%;
    height: 80px;
    background-color: #fff;
}

header .logo {
    text-decoration: none;
}

header .logo img {
    width: 45px;
}

header .logo span {
    color: black;
    font-size: 24px;
    font-weight: 800;
    margin-left: 5px;
}

header button.rounded-circle {
    min-width: 40px !important;
    width: 40px !important;
    height: 40px !important;
    background: #f0f5ff !important;
    color: #292929;
}

header button.rounded-circle svg {
    color: #292929;
    font-size: 18px !important;
    transition: all 0.3s ease-in-out;
}

header button.rounded-circle:hover svg {
    color: #0858f7 !important;
}

.searchBox {
    width: 400px;
    height: 40px;
    background: #f0f5ff;
    border-radius: 6px;
    padding: 3px 8px;
    margin-left: 15px;
}

.searchBox input {
    width: 100%;
    height: 100%;
    border: none;
    background: #f0f5ff;
    outline: none;
    font-size: 14px;
    color: #292929;
    padding-left: 5px;
}

.searchBox input::placeholder {
    color: #b0b0b0;
    font-size: 14px;
}

.searchBox svg {
    font-size: 22px !important;
    color: #0c0c0c;
}

.myAccWrapper {
    text-align: left !important;
    border: 1px solid; /** 주석처리 */
}
.myAcc .userImg {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #0858f7;
    padding: 2px;
    border-radius: 100%;
}

.myAcc .userImg .rounded-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.myAcc .userImg .rounded-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.myAcc .userInfo {
    padding-left: 5px;
    /*background-color: red;
    color: blueviolet;
    */
}

.myAcc .userInfo h4 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0px;
    padding: 0px;
    text-transform: capitalize;
}

.myAcc .userInfo p {
    margin-top: 0px;
    font-size: 10px;
    opacity: 0.7;
    padding: 0px;
}
